#_content h1 {
  margin-top: 2em;
}

.links > ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.links > ul li {
  display: inline-block;
  user-select: none;
  font-weight: 300;
  text-transform: uppercase;
}

.links > ul li+li:before {
  content: '|';
  color: var(--bg02);
  padding: 0 1.1em;
}

.links ul li > a {
  text-decoration: none;
  color: var(--blue);
}

.links ul li > a:hover {
  background-color: var(--bg02);
}
