.metadata > ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.metadata > ul li {
  display: inline-block;
}

.metadata > ul li+li:before {
  content: '‧';
  padding: 0 0.46em;
}

.metadata ul li > a {
  text-decoration: none;
}
