nav {
  padding-top: 0.2em;
}

nav > ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

nav > ul li {
  display: inline-block;
  font-size: 1.25em;
}

nav > ul li+li:before {
  content: '/';
  padding: 0 0.7em;
}

nav ul li > a {
  text-decoration: none;
}
